<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="layer">
            <div class="container">
                <h1>Welcome To YelpCamp</h1>
                <p>View our hand-picked campgrounds from all over the world.</p>
                <p>
                    <a class="btn btn-lg" href="/campgrounds/new">Add New Campground</a>
                </p>
            </div>   
        </div> 
    </header>

    <div class="row text-center" id="campgrounds-all-container">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 ">
                <div class="campgrounds-item">
                    <img src="<%= campground.image%>" class="img-thumbnail">
                    <div class="caption">
                        <h4><%= campground.name%></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm basic-button">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>

    </div>
</div>

<% include ../partials/footer %>